body {background-color: black;
}

body {
font-family: Arial, Times New Roman, sans-serif;
}

body {color: white;}

h1 {color: Green;
}

p {font-size: 16px;
}

a {font-style: bold; color: cyan;
}
